@media(max-width:600px){
  body{
    background-color: #333;
    display: grid;
    width: 100%;
    min-height: 100vh; 
     grid-template-columns: 1fr;
    grid-template-rows: 42px 140px 350px 220px;
    grid-template-areas: 
          'mobile-menu'
          'logotipo'
          'navegacao'
          'rodape';
  }

  .container-body{
    
    grid-area: navegacao;
    /* background-image: url(../media/img/image-1.png);
    background-repeat: no-repeat;
    background-size: 200%;
    background-position-x: right;
    background-position-y: center; */
  
    
  }

  .image-1{
    margin-top: 20%;
    width: 200%;
    float: right;
    /* background-color: #333; */
  }

  .button-img{
    /* width: 100%; */
    /* height: 100%; */
  }
  
  .logo-mobile{
    grid-area: logotipo;
    position: absolute;
    width: 100%;
  }
  .footer{
    width: 100%;
    overflow: hidden;
    grid-area: rodape;
    display: block;
    color: white;
    border-top: solid 1px rgba(3, 5, 1, 0.5);
    background-color: #333;

  }

  .footer-content{
    padding: 30px;
  }

  .address{
    display: flex;
    justify-content: center;
  }
  
  .email{
    margin-top: 20px;
    justify-content: center;
    display: flex;
  }

  .email img{
    margin-top: 5px;
    margin-right: 15px;
    width: 16px;
    height: 14px;
  }

  .address img{
    margin-top: 3px;
    margin-right: 15px;
    width: 16px;
    height: 20px;
  }

}